<%= content_tag :h1, "Welcome #{current_user.name}!!" %>

<%= link_to "My Items", "/merchant/items" %>

<%= content_tag :h3, @merchant.name %>
<%= content_tag :p, @merchant.address %>
<%= content_tag :p, "#{@merchant.city}, #{@merchant.state}" %>
<%= content_tag :p, @merchant.zip %>

<section id="pending-orders">
  <%= content_tag :h3, "Pending Orders" %>

  <% @merchant.distinct_orders.each do |order| %>
    <%= link_to "Order Number #{order.id}", "/merchant/orders/#{order.id}" %>
    <%= content_tag :p, "Created: #{order.created_at}" %>
    <%= content_tag :p, "Total items in order: #{@merchant.quantity_per_merchant(order)}" %>
    <%= content_tag :p, "Order total: #{@merchant.grandtotal_by_merchant(order.id)}" %><br>
  <% end %>
</section>
