<%= content_tag :h1, "Orders" %>

<% @orders.each do |order| %>
  <section class="order-body", id= 'order-<%=order.id%>'>
    <%= link_to "Order Number: #{order.id}", "/profile/orders/#{order.id}", id: "link-#{order.id}" %>
    <%= content_tag :p, "Status: #{order.status}"%>
    <%= content_tag :p, "Date created: #{order.created_at}" %>
    <%= content_tag :p, "Last updated: #{order.updated_at}" %>
    <%= content_tag :p, "Total Items in Order: #{order.item_orders.count}" %>
    <%= content_tag :p, "Order Total: #{number_to_currency(order.grandtotal)}" %><br>
  </section>
<% end %>
