<h1>Order #<%= @order.id %></h1>

<section id="shipping-address">
  <h3>Shipping Info</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
      </tr>
      <tr>
        <td><p><%= @order.name %></p></td>
        <td><p><%= @order.address %></p></td>
        <td><p><%= @order.city %></p></td>
        <td><p><%= @order.state %></p></td>
        <td><p><%= @order.zip %></p></td>
      </tr>
    </table>
</section>

<h3>Order Info</h3>
<% @item_orders.each do |item_order| %>
  <section id="#item-<%= item_order.item_id %>">
    <p>Item: <%= link_to item_order.item.name, "/items/#{item_order.item_id}" %></p>
    <p>Image: <%= image_tag "#{item_order.item.image}" %></p>
    <p>Price: <%= number_to_currency(item_order.price) %></p>
    <p>Quantity: <%= item_order.quantity %></p>
    <% if item_order.status != "fulfilled" && (item_order.item.inventory >= item_order.quantity)  %>
        <%= button_to "Fulfill", "/merchant/orders/#{@order.id}", method: :patch, id: "item_order-#{item_order.id}", params: {item_order_id: item_order.id} %>
    <% elsif item_order.status == "fulfilled"%>
      <%= content_tag :h4, item_order.status, id: "status" %>
    <% else %>
      <%= content_tag :h4, "Cannot fulfill this item" %>
    <% end %>
  </section>
<% end %>
